<li class="nav-item dropdown" *ngIf="languages.length > 1">
    <a href="#" class="navbar-nav-link dropdown-toggle" data-toggle="dropdown">
        <i [class]="currentLanguage.icon"></i>
{{currentLanguage.displayName | localize}}    </a>

    <div class="dropdown-menu dropdown-menu-right">
        <a href="#" class="dropdown-item " *ngFor="let language of languages" href="javascript:;" (click)="changeLanguage(language.name)">
            <i [class]="language.icon"></i>{{language.displayName | localize}}</a>
        
    </div>
</li>

