<div appBsModal #changePasswordModal="bs-modal" (onShown)="onShown()" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #changePasswordModalForm="ngForm" (ngSubmit)="save()">
                <div class="modal-header">
                    <h5 class="modal-title">
                        <span>{{"ChangePassword" | localize}}</span>
                    </h5>
                    <button type="button" class="close" [attr.aria-label]="l('Close')" (click)="close()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group form-group-float">
                        <label class="form-group-float-label is-visible" for="CurrentPassword"
                        >{{"CurrentPassword" | localize}}</label>
                        <div class="input-group">
                            <input type="password" 
                            id="CurrentPassword"
                            class="form-control"  name="CurrentPassword"
              
                             [(ngModel)]="currentPassword" required
                            >
                            <span class="input-group-append">
                                <span class="input-group-text"><i class="icon-unlocked"></i></span>
                            </span>
                            
                        </div>

                    </div>

                    <div class="form-group form-group-float">
                        <label class="form-group-float-label is-visible" for="NewPassword"
                        >{{"NewPassword" | localize}}</label>
                        <div class="input-group">
                            <input type="password" 
                            id="NewPassword"
                            class="form-control"  name="NewPassword"
                            [(ngModel)]="password" #NewPassword="ngModel" 
                               
                            >
                            <span class="input-group-append">
                                <span class="input-group-text"><i class="icon-lock"></i></span>
                            </span>
                            
                        </div>

                    </div>
                    <div class="form-group form-group-float">
                        <label class="form-group-float-label is-visible" for="NewPasswordRepeat"
                        >{{"NewPasswordRepeat" | localize}}</label>
                        <div class="input-group">
                            <input type="password" 
                            id="NewPasswordRepeat"
                            class="form-control"  name="NewPasswordRepeat"
                            [(ngModel)]="confirmPassword" #NewPasswordRepeat="ngModel" 
                               
                            >
                            <span class="input-group-append">
                                <span class="input-group-text"><i class="icon-lock"></i></span>
                            </span>
                            
                        </div>

                    </div>
  
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-outline alpha-warning text-warning-800 border-warning-600" (click)="close()">{{"Cancel" | localize}}</button>
                    <button type="submit" class="btn bg-success btn-labeled btn-labeled-left"
                    [disabled]="!changePasswordModalForm.form.valid || saving" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"
                    ><b><i class="icon-floppy-disk"></i></b> {{"Save" | localize}}</button>
                </div>
            </form>
        </div>
    </div>
</div>




<!-- 

<div appBsModal #changePasswordModal="bs-modal" (onShown)="onShown()" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #changePasswordModalForm="ngForm" (ngSubmit)="save()">
                <div class="modal-header">
                    <h5 class="modal-title">
                        <span>{{"ChangePassword" | localize}}</span>
                    </h5>
                    <button type="button" class="close" [attr.aria-label]="l('Close')" (click)="close()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group form-group-float">
                        <label class="form-group-float-label is-visible" for="CurrentPassword"
                        >{{"CurrentPassword" | localize}}</label>
                        <div class="input-group">
                            <input type="password" 
                            id="CurrentPassword"
                            class="form-control"  name="CurrentPassword"
                            [ngClass]="{'border-danger':currentPasswordInput.invalid && (currentPasswordInput.dirty || currentPasswordInput.touched)}"
                             #currentPasswordInput="ngModel"
                             [(ngModel)]="currentPassword" required
                            >
                            <span class="input-group-append">
                                <span class="input-group-text"><i class="icon-unlocked"></i></span>
                            </span>
                            
                        </div>

                        <validation-messages [formCtrl]="currentPasswordInput"></validation-messages>
                    </div>

                    <div class="form-group form-group-float">
                        <label class="form-group-float-label is-visible" for="NewPassword"
                        >{{"NewPassword" | localize}}</label>
                        <div class="input-group">
                            <input type="password" 
                            id="NewPassword"
                            class="form-control"  name="NewPassword"
                            [(ngModel)]="password" #NewPassword="ngModel" 
                            validateEqual="NewPasswordRepeat"
                               reverse="true" [requireDigit]="passwordComplexitySetting.requireDigit" [requireLowercase]="passwordComplexitySetting.requireLowercase"
                               [requireUppercase]="passwordComplexitySetting.requireUppercase" [requireNonAlphanumeric]="passwordComplexitySetting.requireNonAlphanumeric" [requiredLength]="passwordComplexitySetting.requiredLength"
                               [ngClass]="{'border-danger':NewPassword.invalid && (NewPassword.dirty || NewPassword.touched)}"
                               required
                            >
                            <span class="input-group-append">
                                <span class="input-group-text"><i class="icon-lock"></i></span>
                            </span>
                            
                        </div>

                        <div [hidden]="changePasswordModalForm.form.valid || changePasswordModalForm.form.pristine">

                            <label class="validation-invalid-label" [hidden]="!NewPassword.errors.requireDigit" class='form-text text-danger'>{{"PasswordComplexity_RequireDigit_Hint" | localize}}</label>
                            <label class="validation-invalid-label" [hidden]="!NewPassword.errors.requireLowercase" class='form-text text-danger'>{{"PasswordComplexity_RequireLowercase_Hint" | localize}}</label>
                            <label class="validation-invalid-label" [hidden]="!NewPassword.errors.requireUppercase" class='form-text text-danger'>{{"PasswordComplexity_RequireUppercase_Hint" | localize}}</label>
                            <label class="validation-invalid-label" [hidden]="!NewPassword.errors.requireNonAlphanumeric" class='form-text text-danger'>{{"PasswordComplexity_RequireNonAlphanumeric_Hint" | localize}}</label>
                            <label class="validation-invalid-label" [hidden]="!NewPassword.errors.requiredLength" class='form-text text-danger'>{{"PasswordComplexity_RequiredLength_Hint" | localize:passwordComplexitySetting.requiredLength}}</label>
                          
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="NewPasswordRepeat">{{"NewPasswordRepeat" | localize}}</label>
                        <input id="NewPasswordRepeat" type="password" name="NewPasswordRepeat" class="form-control" [ngModel]="confirmPassword" #NewPasswordRepeat="ngModel" validateEqual="NewPassword"
                               [requireDigit]="passwordComplexitySetting.requireDigit" [requireLowercase]="passwordComplexitySetting.requireLowercase"
                               [requireUppercase]="passwordComplexitySetting.requireUppercase" [requireNonAlphanumeric]="passwordComplexitySetting.requireNonAlphanumeric" [requiredLength]="passwordComplexitySetting.requiredLength"
                               reverse="false" required>
                    </div>
                    <div [hidden]="changePasswordModalForm.form.valid || changePasswordModalForm.form.pristine">
                        <ul class="help-block text-danger" *ngIf="NewPasswordRepeat.errors">
                            <li [hidden]="!NewPasswordRepeat.errors.requireDigit">{{"PasswordComplexity_RequireDigit_Hint" | localize}}</li>
                            <li [hidden]="!NewPasswordRepeat.errors.requireLowercase">{{"PasswordComplexity_RequireLowercase_Hint" | localize}}</li>
                            <li [hidden]="!NewPasswordRepeat.errors.requireUppercase">{{"PasswordComplexity_RequireUppercase_Hint" | localize}}</li>
                            <li [hidden]="!NewPasswordRepeat.errors.requireNonAlphanumeric">{{"PasswordComplexity_RequireNonAlphanumeric_Hint" | localize}}</li>
                            <li [hidden]="!NewPasswordRepeat.errors.requiredLength">{{"PasswordComplexity_RequiredLength_Hint" | localize:passwordComplexitySetting.requiredLength}}</li>
                            <li [hidden]="NewPasswordRepeat.valid">{{"PasswordsDontMatch" | localize}}</li>
                        </ul>
                    </div>
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-outline alpha-warning text-warning-800 border-warning-600" (click)="close()">{{"Cancel" | localize}}</button>
                    <button type="submit" class="btn bg-success btn-labeled btn-labeled-left"
                    [disabled]="!changePasswordModalForm.form.valid || saving" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"
                    ><b><i class="icon-floppy-disk"></i></b> {{"Save" | localize}}</button>
                </div>
            </form>
        </div>
    </div>
</div> -->
